.navbar{
    background-color: #106EBE;
    color: #0FFCBE;
    margin:0%;
    padding: 0%;

}

body {
    background-color: #106EBE;
    color: #0FFCBE;
    font-family: "Gill Sans", sans-serif;
}

/* Styling the container to switch images on hover */
.gif-container img.preview {
    display: block;
}
.gif-container img.animated {
    display: none;
}
/* Show the GIF and hide the preview on hover */
.gif-container:hover img.preview {
    display: none;
}
.gif-container:hover img.animated {
    display: block;
}

.nav-link {
    color: #0FFCBE;
}

.navbar-brand{
    color: #0FFCBE;
}

a{
    color: #0FFCBE;
}

footer {
    position: relative;
    margin-top: -180px;
    /* negative value of footer height */
    height: 50px;
    clear: both;
  }