.navbar{
    background-color: #F6F5D7;
    margin:0%;
    padding: 0%;
    border: 1px solid rgb(0, 0, 0);
}

.title1{
    font-family: 'sans-serif';
}

/* Styling the container to switch images on hover */
.gif-container img.preview {
    display: block;
}
.gif-container img.animated {
    display: none;
}
/* Show the GIF and hide the preview on hover */
.gif-container:hover img.preview {
    display: none;
}
.gif-container:hover img.animated {
    display: block;
}